@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --blue: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.main {
    height: 70svh;
    width: calc(100vw-30px);
    background-image: url(assets/bg/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 0 40px;  
}

.navbar {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 20px;
}

.navbar_img_logo {
    max-width: 8rem;
    /* Torna o arquivo PNG em branco */
    filter: invert(100%) brightness(100%);
}

.navbar_menu {
    display: flex;
    gap: 70px;
}

.navbar_menu_item {
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.navbar_menu_item::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--white);
    transition: width 0.2s ease-in-out;
}

.navbar_menu_item:hover::after {
    content: '';
    width: 100%;
    opacity: 1;
}


.navbar_button {
    padding: 8px 12px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.hero {
    /* Display para conter um elemento por linha */
    display: block;
    margin-top: 120px;
}

.hero_title {
    width: 520px;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -2px;
    color: var(--white);
}

.hero_description {
    margin-top: 20px;
    color: var(--white);
}

.hero_description_gratuita {
    font-weight: 700;
}

.hero_link {
    /* Display inline-block, pq o padrão(inline) não aceita margens */
    display: inline-block; 
    padding: 8px 12px;
    margin-top: 20px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 15px;
    font-weight: 700;
}

.patreons {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
}


.patreons_logo {
    width: 8rem;
}

.services {
    height: 70vh;
    width: calc(100vw-30px);
    background-image: url(assets/bg/services-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.services_background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    margin:0px 40px;
}

.services_main{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.services_left {
    width: 30rem;
    align-self: center;
}

.services_right {
    align-self: center;
    width: 30rem;
}

.services_right_container {
    display: flex;
}

.services_right_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_right_icon {
    width: 4rem;
}

.services_right_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.services_right_title {
    color: var(--white);
    position: relative;
    text-decoration: none;
    display: inline-block;
}
/*
.services_right_title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -8px;
    background-color: var(--blue);
}
*/

.services_right_description {
    color: var(--white);
    margin-top: 10px;
}

.footer {
    height: 18vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;

}

.footer_background {
    width: 90rem;
    display: flex;
    justify-content: space-between;
    margin:0px 40px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer_title {
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer_text {
    margin-bottom: 2px;
    color: black;
}

.footer_text a {
    text-decoration: none;
}

.footer_logo {
    width: 10rem;
    margin-bottom: 10px;
}


@media (max-height: 940px) {
    .hero {
        margin-top: 60px;
    }
}

@media (max-width: 1130px) {
    .main {
        height: 60svh;
    }

    .navbar_menu {
        gap: 40px
    }

    .hero_title{
        width: 400px;
        font-size: 3rem;
    }

    .patreons {
        height: 6rem;
    }

    .patreons_logo {
        width: 6rem;
    }
}